gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# NEVER publicly share keystore.
# https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
